<nav class="container_redes">
    <ul class="redes">
        <a class="nav_redes" href="https://www.facebook.com/KEVYNSBJ" target="_blank"><li><i class="fa-brands fa-facebook-f"></i></li></a>
        
       <a class="nav_redes" target="_blank" href="https://twitter.com/inguatprensa"> <li><i class="fa-brands fa-twitter"></i></li></a>
       <a class="nav_redes" target="_blank" href="https://www.instagram.com/kevyn_sb_/"><li><i class="fa-brands fa-instagram"></i></li></a>
        <a class="nav_redes" target="_blank" href="https://www.youtube.com/@tvinguat"><li><i class="fa-brands fa-youtube"></i></li></a>
        <a class="nav_redes" target="_blank" href="https://www.whatsapp.com/"> <li><i class="fa-brands fa-whatsapp"></i></li></a>
    </ul>
</nav>



<nav class="container_menu">
    <ul class="menu">
        <li><a href="index.php">Inicio</a></li>
        <li><a href="Tikal.php">Parque Tikal</a></li>
        <li><a href="Antigua_Guatemala.php">Antigua Guatemala</a></li>
        <li><a href="Lago_de_Atitlan.php">Lago de Atitlán</a></li>
        <li><a href="Semuc_Champey.php">Semuc Champey</a></li>
        <li><a href="Esquipulas.php">Esquipulas</a></li>
        <li><a href="parque_quiriguá.php">Parque Quiriguá</a></li>
        <li><a href="Castillo_SnFelipe.php">Castillo San Felipe</a></li>
        <li><a href="Playa_Dorada.php">Playa Dorada</a></li>
        <li><a href="Lago_Itzá.php">Lago Petén Itzá</a></li>
    </ul>
</nav>